{% extends 'base.html.twig' %}

{% block title %}Modifier le Rapport{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Modifier le Rapport</h1>

        <div class="card shadow mb-4">
            <div class="card-body">
                {{ include('report/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                
                <div class="mt-3">
                    {{ include('report/_delete_form.html.twig', {'redirect': path('app_report_index')}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
